<h2 class="artist-name">{{model.name}}</h2>

<ul class="albums">
  {{#each model.albums key="id" as |album|}}
  <li class="album">{{album.name}}</li>
  {{/each}}
</ul>

<div class="back-link">{{#link-to 'artist-list'}}Back to artists{{/link-to}}</div>
